<app-sidebar #sidenav></app-sidebar>

<main class="main-content" [class.shift]="sidenav.isOpen">
  <header class="topbar d-flex align-items-center px-3">
    <button class="btn p-0 border-0 bg-transparent me-3" (click)="sidenav.toggle()">
      <i class="bi bi-list fs-3 text-light"></i>
    </button>

    <div class="d-none d-md-block ms-auto">
      <h1 class="h6 mb-0">PRISMA</h1>
    </div>
    <div class="flex-grow-1 text-center">
      <h1 class="h6 mb-0 fw-bold">Centro Escolar Gustavo Vides Valdes</h1>
    </div>
    <button class="btn btn-dark" (click)="cerrarSesion()"><i class="bi bi-box-arrow-in-right"></i> Cerrar
      sesión</button>

  </header>

  <section class="page-content">
    <router-outlet></router-outlet>
  </section>
</main>