<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                </li>
                <li class=" breadcrumb-item active" aria-current="page">Paquetes Escolares</li>
            </ol>
        </nav>
    </div>
    <h2 class="text-center">Gestion de Paquetes Escolares</h2>

    <div class="container">

        <!-- Boton para agregar paquete escolar -->
        <div class="d-flex justify-content-end align-items-center mb-2">
            <button class="btn btn-primary me-2" [routerLink]="'/paquetesescolares/agregar-paqueteescolar'"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar paquete escolar">
                <i class="bi bi-plus-lg"></i> Agregar paquete escolar
            </button>
        </div>
        <!-- Tabla de paquetes escolares -->
        <h2>Listado de Paquetes Escolares</h2>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr class="align-middle">
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Activo</th>
                </tr>
            </thead>
            <tbody>

                @for (paqueteEscolar of paquetesescolares; track paqueteEscolar.id_paquete_e){
                <tr>
                    <!--Nombre editable-->
                    <td contenteditable="true" (blur)="onNombreEdit(paqueteEscolar, $event)">
                        {{ paqueteEscolar.nombre_paquete }}
                    </td>

                    <!-- Checkbox editable -->
                    <td class="text-center">
                        <input type="checkbox" [checked]="paqueteEscolar.paquete_activo" (change)="toggleActivo(paqueteEscolar)">
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>