<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                <li class=" breadcrumb-item active" aria-current="page">Asistencia de alumnos</li>
            </ol>
        </nav>
    </div>
    <h2 class="text-center">Asistencia de alumnos</h2>
</div>

<div class="container">
    <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
        {{ mensajeError }}
    </div>
    <div *ngIf="mensajeValido" class="alert alert-success" role="alert">
        {{ mensajeValido }}
    </div>

    <!-- Formulario de Selección de Paquete -->
    <div class="d-flex justify-content-center align-items-center mb-2">
        <form>
            <div class="input-group mt-2">
                <select [(ngModel)]="idGradoSeleccionado" name="grado" class="form-select me-2" required
                    (change)="GradoSeleccionado()">
                    <option value="" disabled>Seleccione un grado para asistencia</option>
                    <option *ngFor="let grado of grados" [value]="grado.id_grado">{{ grado.nombre_grado }} "{{
                        grado.seccion }}"</option>
                </select>

                <input type="date" class="form-control bg-light me-2" name="fecha_Nacimiento_D" id="fecha_Nacimiento_D"
                    [(ngModel)]="fechaAsistencia" (change)="buscarAsistencia()" 
                    [disabled]="!idGradoSeleccionado || idGradoSeleccionado === ''">

                <button class="btn btn-primary me-2" type="submit" (click)="generarAsistencias()"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Crear asistencia"
                    [disabled]="!idGradoSeleccionado || !esFechaValida() || yaTieneAsistencia">
                    <i class="bi bi-plus-lg"></i> Crear asistencia
                </button>
                <button class="btn btn-secondary me-2" [routerLink]="'/asistenciaalumno/asistencia-lista'"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Reporte de asistencia"
                    [disabled]="!idGradoSeleccionado">
                    <i class="bi bi-plus-lg"></i> Reporte de asistencia
                </button>
            </div>
        </form>
    </div>

    <!-- Encabezado de la Tabla -->

    <h2>Listado de alumnos</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr class="align-middle">
                <th style="text-align: center;">No</th>
                <th style="text-align: center;">NIE</th>
                <th style="text-align: center;">Apellido</th>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">{{ fechaAsistencia }}</th>
            </tr>
        </thead>
        <tbody>
            @for (asis of asistencias; let i = $index; track asis.id_asistencia){
            <tr class="align-middle">
                <td style="text-align: center;">{{ i + 1 }}</td>
                <td style="text-align: center;">{{ asis.alumno.nie }}</td>
                <td>{{ asis.alumno.apellido_alumno }}</td>
                <td>{{ asis.alumno.nombre_alumno }}</td>

                <td class="d-flex justify-content-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="'Asistencia'"
                            name="estado_{{i}}"  [(ngModel)]="asis.estado_asistencia"
                            (change)="actualizarEstadoAsistencia(asis)">
                        <label class="form-check-label">Asistencia</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"[value]="'Inasistencia'"
                            name="estado_{{i}}" [(ngModel)]="asis.estado_asistencia" 
                            (change)="actualizarEstadoAsistencia(asis)">
                        <label class="form-check-label">Inasistencia</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [value]="'Permiso'"
                            name="estado_{{i}}" [(ngModel)]="asis.estado_asistencia"
                            (change)="actualizarEstadoAsistencia(asis)">
                        <label class="form-check-label">Permiso</label>
                    </div>
                </td>

            </tr>
            }

        </tbody>
    </table>
</div>