<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                <li class=" breadcrumb-item active" aria-current="page">Asistencia de alumnos</li>
            </ol>
        </nav>
    </div>
    <h2 class="text-center">Asistencia de alumnos</h2>
</div>

<div class="container">

    <!-- Formulario de Selección de Paquete -->
    <div class="d-flex justify-content-center align-items-center mb-2">
        <form th:action="@{/entregasPaquetes/seccion/{id}(id=${id})}" method="get" class="needs-validation" novalidate>
            <div class="input-group mt-2">
                <select [(ngModel)]="idGradoSeleccionado" name="grado" class="form-select me-2" required
                    (change)="GradoSeleccionado()">
                    <option value="" disabled>Seleccione un grado para asistencia</option>
                    <option *ngFor="let grado of grados" [value]="grado.id_grado">{{ grado.nombre_grado }} "{{
                        grado.seccion }}"</option>
                </select>


                <button type="submit" class="btn btn-primary me-2" id="btn-generar"  (click)="generarListaAsistencia()" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Añadir asistencia">
                <i class="bi bi-plus-lg"></i>  Añadir asistencia</button>

            <button class="btn btn-primary me-2" [routerLink]="'/asistenciaalumno/asistencia-lista'"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Reporte de asistencia">
                <i class="bi bi-plus-lg"></i> Reporte de asistencia
            </button>
            </div>
        </form>
    </div>
    
    <!-- Encabezado de la Tabla -->

    <h2>Listado de alumnos</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr class="align-middle">
                <th>NIE</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th >Estado asistencia</th>
            </tr>
        </thead>
        <tbody>
            @for (alu of alumnos; track alu.idAlumno){
            <tr class="align-middle">
                <td>{{ alu.nie }}</td>
                <td>{{ alu.apellido_alumno }}</td>
                <td>{{ alu.nombre_alumno }}</td>
                
            <!--    <td *ngFor="let p of paquetesEntregados"><input type="checkbox" [checked]="tieneAsignacion(alu, p)"></td>-->
                <td>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" 
           [value]="'Asistencia'" 
           [(ngModel)]="alu.estadoSeleccionado" 
           [name]="'asistencia_' + alu.idAlumno">
    <label class="form-check-label">Asistencia</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" 
           [value]="'Inasistencia'" 
           [(ngModel)]="alu.estadoSeleccionado" 
           [name]="'asistencia_' + alu.idAlumno">
    <label class="form-check-label">Inasistencia</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" 
           [value]="'Permiso'" 
           [(ngModel)]="alu.estadoSeleccionado" 
           [name]="'asistencia_' + alu.idAlumno">
    <label class="form-check-label">Permiso</label>
  </div>
</td>

            </tr>
            }

        </tbody>
    </table>
</div>
<script>
    function openInPopup(url) {
        window.open(url, 'popup', 'width=800,height=600');
    }
</script>