<div class="container my-4 py-5">
  <h2>Usuarios</h2>
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h1 class="text-start col-lg-3"></h1>
    <div class="d-flex gap-2">
      <a class="btn btn-primary"
         data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar un nuevo usuario"
         (click)="nuevoUsuario()">
        <i class="bi bi-person-plus"></i> Agregar
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Correo</th>
          <th>Activo</th>
          <th>Rol</th>
          <th style="width: 15%; text-align: center;">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of usuarios">
          <td>{{ u.correoUsuario }}</td>
          <td>{{ u.usuarioActivo ? 'Sí' : 'No' }}</td>
          <td>{{ getNombreRol(u) }}</td>
          <td>
            <div class="d-flex justify-content-left">
              <button class="btn btn-primary btn-sm mx-1"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-danger btn-sm mx-1"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"
                      (click)="eliminarUsuario(u.idUsuario!)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-info alert-dismissible fade show mt-1 ms-2 mr-2" *ngIf="usuarios.length === 0">
      <i class="bi bi-exclamation-triangle"></i>
      No hay usuarios registrados.
    </div>
  </div>
</div>