<div class="p-2 text-end border-bottom">
  <button class="btn btn-outline-dark btn-sm" (click)="toggle()">
    <i class="bi bi-x-lg"></i> Cerrar
  </button>
</div>

<ul class="nav nav-pills flex-column p-2">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/alumnos" routerLinkActive="active">Alumnos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/docentes" routerLinkActive="active" *ngIf="BloquearDocente()">Docentes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/paquetesescolares" routerLinkActive="active" *ngIf="BloquearDocente()">Paquetes Escolares</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gestion-ano-academico" routerLinkActive="active" *ngIf="BloquearDocente()">Gestión de Año Académico</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/asistenciaalumno" routerLinkActive="active" *ngIf="BloquearSecretaria()">Asistencia</a>
    <a class="nav-link" routerLink="/entrega-paquetes-escolares" routerLinkActive="active" *ngIf="BloquearSecretaria()">Entrega de Paquetes Escolares</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reporte-anual-alumno" routerLinkActive="active">Reporte anual de alumno</a>
    <a class="nav-link" routerLink="/gestion-actividades" routerLinkActive="active">Gestion de actividades</a>
    
    
  </li>
  <li>
    <a class="nav-link" routerLink="/materias" routerLinkActive="active" *ngIf="BloquearSecretaria() && BloquearDocente()">Materias</a>
    <a class="nav-link" routerLink="/materias/asignarMateriaADocente" routerLinkActive="active" *ngIf="BloquearSecretaria() && BloquearDocente()">Asiganar Materias</a>
  </li>

</ul>