<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                </li>
                <li class=" breadcrumb-item active" aria-current="page">Docentes</li>
            </ol>
        </nav>
    </div>
    <h2 class="text-center">Gestión de Docentes</h2>
</div>
<div class="container">
    <div *ngIf="mensaje" class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>
    <h2 >Docentes</h2>
        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
            <h1 class="text-start col-lg-3 " ></h1>
            <div class="d-flex gap-2">
                <a class="btn btn-secondary" 
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir listado actual" target="_blank"
                    (click)="imprimirDocentesTodos()" >
                    <i class="bi bi-printer"></i> Imprimir
                </a>
                <a *ngIf="BloquearSecretaria()" class="btn btn-primary"  data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Agregar un nuevo docente"
                    routerLink="/docentes/agregarDocente" routerLincActive="active">
                    <i class="bi bi-person-plus"></i> Agregar
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th style="text-align: center;">No</th>
                        <th style="text-align: center;">Nombre</th>
                        <th style="text-align: center;">Apellido</th>
                        <th style="width: 10%; text-align: center;">DUI</th>
                        <th style="width: 10%; text-align: center;">Teléfono</th>
                        <th style="text-align: center;">Correo</th>
                        <th style="width: 10%; text-align: center;">Acciones</th>
                        <th *ngIf="BloquearSecretaria()" style="width: 10%; text-align: center;">Actividad</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Agrega la referencia al elemento que maneja la paginación (page.content) -->
                    <tr *ngFor=" let docente of docentes; let i =index">
                        <td style="text-align: center;">{{ i + 1 }}</td>
                        <td>{{docente.nombre_Docente}}</td>
                        <td>{{docente.apellido_Docente}}</td>
                        <td>{{docente.duiDocente}}</td>
                        <td style="text-align: center;">{{docente.telefono_Docente}}</td>
                        <td>{{docente.correo_Docente}}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a *ngIf="BloquearSecretaria()" class="btn btn-primary btn-sm mx-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" [routerLink]="['/docentes', docente.duiDocente]">
                                    <i class="bi bi-pencil-square "></i>
                                </a>
                                <a class="btn btn-secondary btn-sm mx-1" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="Imprimir" target="_blank"
                                    (click)="imprimirDocente(docente.duiDocente,docente.nombre_Docente)">
                                    <i class="bi bi-printer"></i>
                                </a>
                            </div>
                        </td>
                        <td *ngIf="BloquearSecretaria()" class="d-flex justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    [checked]="docente.docente_Activo"
                                    [ngClass]="{
                                        'bg-success': docente.docente_Activo,
                                        'bg-danger': !docente.docente_Activo
                                    }"
                                    (change)="cambiarEstadoActividad(docente)">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>