<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                </li>
                <li class=" breadcrumb-item active" aria-current="page">Materias</li>
            </ol>
        </nav>
    </div>
    <h2 class="text-center">Creacion de Materias</h2>
</div>
<div *ngIf="mensaje" id="mensaje" class="alert alert-danger" role="alert">
        {{ mensaje }}
</div>
<div class="card">
    <div class="card-header text-center">
        <h5>CENTRO ESCOLAR GUSTAVO VIDES VALDES</h5>
        <h5>LOURDES COLON</h5>
        <h5>REGISTRO DE MATERIAS A IMPARTIR</h5>
    </div>
    <div>
        <form #materiaForm="ngForm" (ngSubmit)="onSubmit(materiaForm)"
        class="row g-3 needs-validation justify-content-center" novalidate>
            <div class="col-12">
               <h4 class="text-center">Datos de la Materia</h4> 
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="codigo_materia" class="form-label">Codigo de la Materia:</label>
                <input type="text" class="form-control bg-light restricted-input" id="codigo_materia"
                name="codigo_materia" [(ngModel)]="materia.codigo_materia" maxlength="6" minlength="6" required #codigo="ngModel"
                    [class.is-invalid]="materiaForm.submitted && codigo.invalid"
                    [class.is-valid]="materiaForm.submitted && codigo.valid">
                <div class="invalid-feedback">
                    Es necesario agregar un codigo de materia
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <label for="nombre_materia" class="form-label">Nombre de la Materia:</label>
                <input type="text" class="form-control bg-light restricted-input" id="nombre_materia"
                name="nombre_materia" [(ngModel)]="materia.nombre_materia" maxlength="30" required #nombre="ngModel"
                    [class.is-invalid]="materiaForm.submitted && nombre.invalid"
                    [class.is-valid]="materiaForm.submitted && nombre.valid">
                <div class="invalid-feedback">
                    Es necesario agregar el nombre de la materia
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <label for="tipo_materia" class="form-label">Tipo de la Materia:</label>
                <select id="tipo_materia" class="form-select bg-light" name="tipo_materia" required
                    [(ngModel)]="materia.tipo_materia" #tipo="ngModel"
                    [class.is-invalid]="materiaForm.submitted && tipo.invalid"
                    [class.is-valid]="materiaForm.submitted && tipo.valid">
                    <option value="" selected>Seleccionar...</option>
                    <option value="Basica">Basica</option>
                    <option value="secundaria">secundaria</option>
                    <option value="complementaria">complementaria</option>>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar el tipo de la materia
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div class="col-auto">
                    <button class="btn btn-success me-4">Guardar</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger" routerLink="/materias">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
