<div class="p-4 mt-5">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none text-secondary">Inicio</a>
                </li>
                <li class="breadcrumb-item"><a routerLink="/alumnos" class="text-decoration-none text-secondary">Gestión
                        de Alumnos</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ isEditing ? 'Editar' : 'Agregar' }} Alumno
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-header text-center p-4 mt-5">
        <h5>CENTRO ESCOLAR GUSTAVO VIDES VALDES</h5>
        <h5>LOURDES COLON</h5>
        <h5>EXPEDIENTE PERSONAL ALUMNO: DATOS PERSONALES</h5>
    </div>
    <div>
        <form (ngSubmit)="onSubmit()" method="post" class="row g-3 needs-validation justify-content-center" novalidate>
            
            <!-- Datos Personales del Alumno -->
            <div class="col-12">
                <h4 class="text-center">Datos Personales del Alumno</h4>
            </div>
            
            <div class="col-lg-5 col-md-6">
                <label for="nie" class="form-label">NIE: *</label>
                <input type="text" class="form-control bg-light" id="nie" [(ngModel)]="alumno.nie" name="nie" required maxlength="7"
                    pattern="[0-9]*" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <div class="invalid-feedback">
                    Es necesario agregar el NIE
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="nombres" class="form-label">Nombres: *</label>
                <input type="text" class="form-control bg-light" id="nombres" [(ngModel)]="alumno.nombre_alumno" name="nombres" required>
                <div class="invalid-feedback">
                    Es necesario agregar nombres
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="apellidos" class="form-label">Apellidos: *</label>
                <input type="text" class="form-control bg-light" id="apellidos" [(ngModel)]="alumno.apellido_alumno" name="apellidos" required>
                <div class="invalid-feedback">
                    Es necesario agregar apellidos
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                <input type="date" class="form-control bg-light" id="fecha_nacimiento" [(ngModel)]="alumno.fecha_nacimiento_alumno"
                    name="fecha_nacimiento" min="1900-01-01" max="2024-12-31">
                <div class="invalid-feedback">
                    Es necesario agregar la fecha de nacimiento
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <label for="genero" class="form-label">Género:</label>
                <select class="form-select bg-light" id="genero" [(ngModel)]="alumno.sexo_a" name="genero">
                    <option *ngFor="let sexo of sexos" [value]="sexo.value">
                        {{ sexo.label }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar un género
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="grado" class="form-label">Grado: *</label>
                <select class="form-select bg-light" id="grado" [(ngModel)]="alumno.grado" name="grado" required>
                    <option value="">Seleccione un grado</option>
                    <option *ngFor="let grado of grados" [ngValue]="grado">
                        {{ grado.nombre_grado }} - {{ grado.seccion }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar un grado
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="estado" class="form-label">Estado del Alumno:</label>
                <select class="form-select bg-light" id="estado" [(ngModel)]="alumno.estado_alumno" name="estado">
                    <option [value]="true">Activo</option>
                    <option [value]="false">Inactivo</option>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar un estado
                </div>
            </div>

            <!-- Contacto -->
            <div class="col-12">
                <h4 class="text-center">Contacto</h4>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="tel" class="form-control bg-light" id="telefono" [(ngModel)]="alumno.telefono_alumno" name="telefono"
                    placeholder="0000-0000" pattern="\d{4}-\d{4}" maxlength="9"
                    oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{4})(\d{4})/, '$1-$2').substring(0, 9)">
                <div class="invalid-feedback">
                    Es necesario agregar un número de teléfono válido
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="correo" class="form-label">Correo electrónico:</label>
                <input type="email" class="form-control bg-light" id="correo" [(ngModel)]="alumno.correo_alumno" name="correo">
                <div class="invalid-feedback">
                    Es necesario agregar un correo electrónico válido
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <label for="direccion" class="form-label">Dirección:</label>
                <input type="text" class="form-control bg-light" id="direccion" [(ngModel)]="alumno.direccion_a" name="direccion">
                <div id="direccionHelp" class="form-text">Dirección completa. Ej. Colonia Roma, Pasaje #4, Casa 6.</div>
                <div class="invalid-feedback">
                    Es necesario agregar la dirección
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="viveCon" class="form-label">Vive con:</label>
                <select class="form-select bg-light" id="viveCon" [(ngModel)]="alumno.vive_con" name="viveCon">
                    <option *ngFor="let opcion of viveConOpciones" [value]="opcion.value">
                        {{ opcion.label }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar con quien vive
                </div>
            </div>

            <!-- Información Médica -->
            <div class="col-12">
                <h4 class="text-center">Información Médica</h4>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="enfermedad" class="form-label">Enfermedad:</label>
                <input type="text" class="form-control bg-light" id="enfermedad" [(ngModel)]="alumno.enfermedades" name="enfermedad">
                <div class="invalid-feedback">
                    Es necesario agregar información sobre enfermedades
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="medicamento" class="form-label">Medicamento:</label>
                <input type="text" class="form-control bg-light" id="medicamento" [(ngModel)]="alumno.medicamento" name="medicamento">
                <div class="invalid-feedback">
                    Es necesario agregar información sobre medicamentos
                </div>
            </div>

            <!-- Datos del Encargado -->
            <div class="col-12">
                <h4 class="text-center">Datos del Encargado</h4>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="dui" class="form-label">DUI del Encargado:</label>
                <input type="text" class="form-control bg-light" id="dui" [(ngModel)]="alumno.dui_encargado" name="dui"
                    placeholder="00000000-0" maxlength="10"
                    oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{8})(\d{1})/, '$1-$2').substring(0, 10)">
                <div class="invalid-feedback">
                    Es necesario agregar un DUI válido (########-#)
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="parentesco" class="form-label">Parentesco:</label>
                <select class="form-select bg-light" id="parentesco" [(ngModel)]="alumno.parentezco_encargado" name="parentesco">
                    <option *ngFor="let parentesco of parentescos" [value]="parentesco.value">
                        {{ parentesco.label }}
                    </option>
                </select>
                <div class="invalid-feedback">
                    Es necesario seleccionar el parentesco
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="telefono_encargado" class="form-label">Teléfono del Encargado:</label>
                <input type="tel" class="form-control bg-light" id="telefono_encargado" [(ngModel)]="alumno.telefono_encargado"
                    name="telefono_encargado" placeholder="0000-0000" pattern="\d{4}-\d{4}" maxlength="9"
                    oninput="this.value = this.value.replace(/\D/g, '').replace(/(\d{4})(\d{4})/, '$1-$2').substring(0, 9)">
                <div class="invalid-feedback">
                    Es necesario agregar un número de teléfono válido
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <label for="correo_encargado" class="form-label">Correo del Encargado:</label>
                <input type="email" class="form-control bg-light" id="correo_encargado" [(ngModel)]="alumno.correo_encargado"
                    name="correo_encargado">
                <div class="invalid-feedback">
                    Es necesario agregar un correo electrónico válido
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <label for="lugar_trabajo" class="form-label">Lugar de trabajo del Encargado:</label>
                <input type="text" class="form-control bg-light" id="lugar_trabajo" [(ngModel)]="alumno.lugar_de_trabajo"
                    name="lugar_trabajo">
                <div class="invalid-feedback">
                    Es necesario agregar el lugar de trabajo
                </div>
            </div>

            <!-- Botones -->
            <div class="d-flex justify-content-center mt-4">
                <div class="col-auto">
                    <button type="submit" class="btn btn-success me-4">Guardar</button>
                </div>
                <div class="col-auto">
                    <a class="btn btn-danger" routerLink="/alumnos">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>